
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <% username = User.find_by(id: quack.user_id)&.username %>
      <h5 class="card-title"> <%= '@' %><%= username %></h5>
      <h6 class="card-subtitle mb-2 text-muted"> <%= quack.created_at %></h6>
      <p class="card-text"><%= quack.content %></p>
      <a href="#" class="card-link"><%= quack.tagged_users %></a>


